@import 'tailwindcss';
@config "../tailwind.config.js";

:root {
  --primary: 38 103 57;
  --secondary: 248 198 85;
}

 @layer components {
   .no-scrollbar::-webkit-scrollbar {
     display: none;
   }
   .no-scrollbar {
     -ms-overflow-style: none;  /* IE and Edge */
     scrollbar-width: none;  /* Firefox */
   }
 }